.metadata/*
fNIRs/.classpath
fNIRs/.project
fNIRs/build.properties
Hello, Stats World/
fNIRs/docs/
fNIRs/src/fNIRs/FNIRsStats.java~
fNIRs/src/fNIRs/Hello.java~
fNIRs/src/fNIRs/StatsPreprocessing.java~
fNIRs/sub19/ChunkingTests/data1~
fNIRs/sub19/ChunkingTests/data2~
fNIRs/sub19/ChunkingTests/testData1~
fNIRs/sub19/ChunkingTests/testData2~
fNIRs/sub19/ChunkingTests/testData3~
fNIRs/sub19/SubjectTests/groups~
fNIRs/sub19/legitGroups~
fNIRs/sub19/oldStatsTesting/#groups#
fNIRs/sub19/oldStatsTesting/groups2~
fNIRs/sub19/oldStatsTesting/groups~
fNIRs/sub19/oldStatsTesting/legitGroups~
fNIRs/sub19/oldStatsTesting/otherOtherTestHb~
fNIRs/sub19/oldStatsTesting/otherTestHb~
fNIRs/sub19/oldStatsTesting/realConditions.txt.backup.txt~
fNIRs/sub19/oldStatsTesting/realConditions.txt~
fNIRs/sub19/oldStatsTesting/testHb2~
fNIRs/sub19/oldStatsTesting/testHb3~
fNIRs/sub19/oldStatsTesting/testHb~
fNIRs/sub19/stats/insertOutputDirNameHere/#p-values_Hb.txt#
fNIRs/sub19/stats/insertOutputDirNameHere/p-values_Hb - Copy.xls
fNIRs/sub19/stats/insertOutputDirNameHere/p-values_Hb.txt
fNIRs/sub19/stats/insertOutputDirNameHere/p-values_HbO.csv
fNIRs/sub19/stats/insertOutputDirNameHere/p-values_HbO.txt
fNIRs/sub19/stats/myNewDir/p-values_Hb.txt
fNIRs/sub19/stats/myNewDir/p-values_HbO.txt
fNIRs/sub19/stats/testDir/p-values_Hb.csv
fNIRs/sub19/stats/working now maybe/p-values_Hb.csv
fNIRs/sub19/subjects/matlab19/Hb
fNIRs/sub19/subjects/matlab19/HbO
fNIRs/sub19/subjects/HbO_output.txt
fNIRs/sub19/subjects/Hb_output.txt
fNIRs/sub19_/Hb
fNIRs/sub19_/HbO
fNIRs/sub19/ANOVA Testing/outputFile.csv
fNIRs/src/fNIRs/#FNIRsStatsNotes.txt#
fNIRs/src/fNIRs/FNIRsStatsNotes.txt
fNIRs/src/fNIRs/FNIRsStatsNotes.txt~
fNIRs/sub19/channelWarningsTesting/badGroupFile2~
fNIRs/sub19/channelWarningsTesting/badGroupFile~
fNIRs/sub19/dmining/betterMatlab19.xls
*.csv
fNIRs/sub19/subjects/betterMatlab19/rm_input_file.xls
